<div class="channel-list-container d-flex flex-column">
  <div class="channel-list-header">
    Channels
  </div>
  <div class="channel-items-container d-flex flex-column flex-grow-1">
    <div *ngIf="isLoading | async" class="loading-overlay d-flex flex-column justify-content-center align-items-center">
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    <ng-container *ngFor="let channel of (oldChannels | async)">
      <app-channel-list-item  (clicked)="navigateToChannel($event)" [channel]="channel" class="asd"></app-channel-list-item>
    </ng-container>
    <div *ngIf="nextChannel | async" class="refresh-button-container d-flex flex-column justify-content-center align-items-center">
      <button (click)="fetchNextPage()" mat-fab color="primary" aria-label="Fetch more recommendations">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
</div>