.channel-view-container {
  height: 100vh;
  background: url('/assets/stolen/we-logo.svg');

  .channel-view-header {
    background-color: white;
    width: 100%;
    padding: 0 15px;
    border-bottom: 1px solid var(--grey2);
  }

  .post-list-container {
    gap:10px;
    width: 100%;
    height: 100%;
    padding: 10px 20%;
    .post-container {
      width: 60%;
      margin: 15px auto;
    }
    .refresh-button-container {
      padding: 10px;
    }
  }
  
}